h1 {
  color: red;
}

body {
  text-align: center;
}

td {
  text-align: justify;
}

button, input {
  margin-bottom: 2em;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

table {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8.5em;
  padding-right: 0em;
}
